<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= Cloudinary::Utils.cloudinary_url("cookbook_zehwnp") %>);">
  <div class="container">
    <h1>Welcome to my cookbook!</h1>
    <p>My one-stop destination for all my favourite recipes</p>
  </div>
</div>
