<div class="form_container">
        <div class="form_card">
            <h2>Add a new Category</h2>
            <input type="text" placeholder="The category name.." />
            <input type="file" />
            <button>Create Category</button>
        </div>
    </div>
<br>
<%= link_to 'Back to Categories', categories_path %>
