<h1>Create a New Category</h1>

<%= simple_form_for @category do |f| %>
  <%= f.input :name, label: "Category Name" %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
<br>
<%= link_to 'Back to Categories', categories_path %>
