<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://ek3286w2fxp.exactdn.com/wp-content/uploads/2023/02/cookbook-sales.jpg?strip=all&lossy=1&w=1440&ssl=1);">
  <div class="container">
    <h1>Welcome to my cookbook!</h1>
    <p>My one-stop destination for all my favourite recipes</p>
  </div>
</div>
